POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
NEO4J_USER=
NEO4J_PASSWORD=
VECTOR_STORE=
COMPOSE_PROFILES=
OPENAI_API_KEY=
EMBEDDING_MODEL=text-embedding-3-small
ENTITY_EXTRACTION_MODEL=gpt-4o-mini
PORT=
LOG_LEVEL=